.albums_list_container {
  display: grid;
}

.albums_list {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.albums_list::-webkit-scrollbar {
  display: none;
}

.albums_list_buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px;
}

.albums_list_buttons button {
  background-color: transparent;
  color: #d9d9d9;
  border: solid 1px #d9d9d9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1em;
  font-family: inherit;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
}

.album_item {
  padding: 0;
  margin: 0 5px;
  text-align: center;
}

.album_item p {
  font-weight: bold;
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  text-overflow: ellipsis;
}

.album_item a {
  color: #978e8e;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  text-overflow: ellipsis;
  display: inline-block;
}

.editable_album_list .delete_album {
  background-color: #ffffff;
  color: #fe0000;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
}

.editable_album_list .actions_buttons {
  display: flex;
  gap: 15px;
}

.editable_album_list .actions_buttons button {
  background-color: transparent;
  border: none;
  font-size: 1.3em;
}

.editable_album_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.liked_album_item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.liked_album_item p {
  font-weight: bold;
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  text-overflow: ellipsis;
}

.liked_album_item a {
  color: #978e8e;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}
