.artists_list_container {
  display: grid;
}

.artists_list {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.artists_list::-webkit-scrollbar {
  display: none;
}

.artists_list_buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px;
}

.artists_list_buttons button {
  background-color: transparent;
  color: #d9d9d9;
  border: solid 1px #d9d9d9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1em;
  font-family: inherit;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
}

.artist_item {
  padding: 0;
  margin: 0 5px;
  text-align: center;
}

.artist_item img {
  border-radius: 50%;
}

.artist_item p {
  font-weight: bold;
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  text-overflow: ellipsis;
}

.artist_item span {
  color: #978e8e;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  text-overflow: ellipsis;
  display: inline-block;
}
