.login_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 5px;
}

.login_input input {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.login_input button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  width: 50%;
  margin-top: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.login_input .register_button {
  background-color: #000000;
  color: #ffe74c;
  padding: 10px;
  border: #ffe74c 1px solid;
  font-size: 1em;
  font-weight: bold;
  width: 50%;
  border-radius: 10px;
}

.login_input .password_container {
  position: relative;
  width: 100%;
}

.login_input .toggle_password_button {
  position: absolute;
  right: 10px; /* Adjust this value to position the button where you want */
  top: 50%; /* Adjust this value to vertically center the button */
  transform: translateY(-50%);
  background: none;
  margin: 0;
  width: 44px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  border: none;
  color: #ededed; /* Adjust color as needed */
  cursor: pointer;
}

.register_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 5px;
}

.register_input input {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.register_input button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  width: 50%;
  margin-top: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.register_input .password_container {
  position: relative;
  width: 100%;
}

.register_input .toggle_password_button {
  position: absolute;
  right: 10px; /* Adjust this value to position the button where you want */
  top: 50%; /* Adjust this value to vertically center the button */
  transform: translateY(-50%);
  background: none;
  margin: 0;
  width: 44px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  border: none;
  color: #ededed; /* Adjust color as needed */
  cursor: pointer;
}

.search_input {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.search_input input {
  width: 80%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.search_input button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  height: 44px;
  width: 44px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  border-radius: 50%;
  font-family: inherit;
}

.new_album_input {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.new_album_input > .new_album_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 5px;
  margin-top: 20px;
}

.new_album_input input {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.new_album_input input::-webkit-outer-spin-button,
.new_album_input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.new_album_input button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.new_album_input .container {
  position: relative;
}

.new_album_input .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: black;
}

.new_album_input .container:hover .overlay {
  opacity: 0.7;
}

.new_album_input .container .overlay .text {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.new_song_input {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.new_song_input > .new_song_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 5px;
  margin-top: 20px;
}

.new_song_input input {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.new_song_input input::-webkit-outer-spin-button,
.new_song_input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.new_song_input .create_song {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  width: 50%;
  margin-top: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.new_song_input .select_genre {
  background-color: #111111;
  color: white;
  padding: 10px;
  border: none;
  font-size: 1em;
  margin: 10px 0;
  width: 90%;
  border-radius: 10px;
  font-family: inherit;
  border: solid 1px gray;
}

.new_song_input .audio_input {
  width: 100%;
}

.new_song_input .audio_input > label {
  width: 100%;
}

.new_song_input .audio_input .audio_input_label {
  height: 100px;
  border-radius: 10px;
  text-align: center;
  border: dashed 1px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_song_input .select_album {
  background-color: #111111;
  color: white;
  padding: 10px;
  border: none;
  font-size: 1em;
  border-radius: 10px;
  width: 100%;
  font-family: inherit;
  border: solid 1px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 10px;
}

.new_song_input .container {
  position: relative;
}

.new_song_input .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: black;
}

.new_song_input .container:hover .overlay {
  opacity: 0.7;
}

.new_song_input .container .overlay .text {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.crop_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.crop_modal_content {
  position: relative;
  background: transparent;
  padding: 20px;
  max-width: 600px;
  height: 80%;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.crop_buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.crop_buttons button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  width: 50%;
  border-radius: 10px;
}

.crop_buttons button:nth-child(2) {
  background-color: black;
  color: #ffe74c;
  border: #ffe74c 1px solid;
}

.verification_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 5px;
}

.verification_input input {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
}

.verification_input input::-webkit-outer-spin-button,
.verification_input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.verification_input button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  width: 50%;
  margin-top: 10px;
  border-radius: 10px;
}

.forgot_password_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 5px;
}

.forgot_password_input input {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  font-family: inherit;
  border-radius: 10px;
}

.forgot_password_input button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  width: 50%;
  border-radius: 10px;
  font-family: inherit;
}

.forgot_password_input input::-webkit-outer-spin-button,
.forgot_password_input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (min-width: 700px) {
  .new_album_input {
    flex-direction: row;
    gap: 10px;
  }

  .new_album_input > .new_album_form {
    width: 40%;
    align-items: flex-start;
  }

  .new_song_input {
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
  }

  .new_song_input > .new_song_form {
    width: 40%;
    align-items: flex-start;
    margin-top: 0px;
  }
}

@media screen and (min-width: 750px) {
  .login_input {
    width: 50%;
  }

  .register_input {
    width: 50%;
  }

  .forgot_password_input {
    width: 50%;
  }

  .verification_input {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .search_input input {
    width: 50%;
  }
}
