.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal_content {
  position: relative;
  border: 1px solid #111111;
  width: 500px;
  min-height: 50vh;
  height: auto;
  background-color: #111111;
  border-radius: 15px;
  margin: 10px;
}

.modal_close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  background-color: #11111197;
  border-radius: 50%;
  border: none;
  width: 55px;
  height: 55px;
}

.modal_children {
  overflow-x: auto;
  min-height: 60vh;
  height: auto;
  padding: 20px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal_children .modal_header {
  padding-bottom: 10px;
  font-size: 1.5em;
}

.modal_children form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.modal_children input {
  width: 80%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #ededed;
  color: #111111;
  padding: 10px;
  border-radius: 10px;
}

.modal_children .playlist_item {
  font-size: 1.1em;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.modal_children .playlist_item .playlist_checked {
  color: #ffe74c;
}

.modal_children .playlist_item button {
  background-color: transparent;
  border: none;
}

.modal_children .genre_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_children .genre_item {
  width: 100%;
  text-align: center;
}

.modal_children .genre_list input[type='radio'] {
  display: none;
  margin: 10px;
}

.modal_children .genre_list label {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
}

.modal_children .genre_list input[type='radio']:checked + label {
  background-color: #d0d0d0;
  color: #111111;
  border-radius: 10px;
}

.modal_children .album_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_children .album_item {
  width: 100%;
  text-align: center;
}

.modal_children .album_list input[type='radio'] {
  display: none;
  margin: 10px;
}

.modal_children .album_list label {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
}

.modal_children .album_list input[type='radio']:checked + label {
  background-color: #d0d0d0;
  color: #111111;
  border-radius: 10px;
}

.modal_children .new_playlist_form input {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.modal_children .new_playlist_form button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.modal_children .search_collaborators_form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.modal_children .search_collaborators_form input {
  width: 80%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.modal_children .search_collaborators_form button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  height: 44px;
  width: 44px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  border-radius: 50%;
  font-family: inherit;
}

.modal_children .collaborators_container {
  max-height: 200px;
  overflow: auto;
}

.modal_children .collaborators_container > div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_children .collaborators_container button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.modal_children .add_singles_button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.modal_children .add_singles_button:disabled {
  background-color: #7a6f27;
}

.modal_children .select_singles input {
  width: 15%;
  height: 44px;
}

.modal_children .single_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal_children .single_item label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.edit_album_input input {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.edit_album_input button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.edit_song_input input {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.edit_song_input select {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, #ffe74c 50%),
    linear-gradient(135deg, #ffe74c 50%, transparent 50%),
    linear-gradient(to right, #111111, #111111);
  background-position: calc(100% - 20px) calc(1em + 6px),
    calc(100% - 15px) calc(1em + 6px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 4em;
  background-repeat: no-repeat;
}

.edit_song_input button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  font-family: inherit;
}
