.audio_player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #111111;
  z-index: 1;
  padding: 6px;
}

.audio_player .controls_wrapper {
  display: none;
}

.track {
  display: flex;
  justify-content: space-between;
}

.track .play_button_mobile {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 1.7em;
  width: 38px;
  cursor: pointer;
}

.track .info {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0 10px;
}

.track .title {
  font-weight: bold;
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
  text-overflow: ellipsis;
}

.track .artist {
  color: #978e8e;
  font-size: 0.9em;
}

.detail_track {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100vh;
  left: 0px;
  width: 100vw;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: #111111;
  overflow: hidden;
  z-index: 1;
}

.detail_track.open {
  top: 0vh;
}

.detail_track .close_detail {
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.detail_track .detail_track_title {
  font-weight: bold;
  font-size: 2em;
}

.detail_track .detail_track_artist {
  color: #978e8e;
  font-size: 0.9em;
}

.detail_track .queue_detail {
  display: none;
}

.detail_track .controls_detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.detail_track .controls_detail button {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 2em;
  width: 38px;
  cursor: pointer;
}

.detail_track .controls_detail .shuffle {
  font-size: 1.4em;
}

.detail_track .controls_detail .loop {
  font-size: 1.4em;
}

.detail_track .volume_detail {
  display: flex;
  align-items: center;
  gap: 5px;
}

.detail_track .progress_bar_detail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.detail_track .progress_bar_detail .progress {
  width: 80%;
}

.detail_track_info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.time {
  display: none;
}

.progress input {
  width: 100%;
}

.music_setting {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown_buttons {
  position: absolute;
  min-width: 200px;
  display: none;
  right: 0px;
  bottom: 30px;
  background-color: #2a2a2a;
  border-radius: 10px;
  z-index: 99;
  overflow: hidden;
  transition: height 500ms ease;
}

.dropdown_buttons.show {
  display: flex;
  flex-direction: column;
}

.dropdown_buttons button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: transparent;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.volume_audio {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.volume_audio button {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 1em;
  width: 38px;
  cursor: pointer;
}

.volume_audio input {
  display: block;
  width: 70%;
}

@media screen and (min-width: 700px) {
  .audio_player .controls_wrapper {
    display: block;
  }

  .time {
    display: inline-block;
    font-size: 0.8em;
  }

  .progress {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .track .title {
    font-weight: bold;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    width: 80px;
    text-overflow: ellipsis;
  }

  .track .artist {
    color: #978e8e;
    font-size: 0.8em;
  }

  .track .play_button_mobile {
    display: none;
  }

  .detail_track {
    z-index: -1;
  }

  .detail_track_info {
    flex-direction: row;
  }

  .detail_track .queue_detail {
    display: flex;
    text-align: justify;
    width: 50%;
  }

  .detail_track .controls_detail button {
    display: none;
  }

  .detail_track .volume_detail {
    display: none;
  }

  .detail_track .progress_bar_detail {
    display: none;
  }

  .controls_wrapper .control_buttons {
    display: flex;
  }

  .controls_wrapper button {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 1.5em;
    width: 38px;
    cursor: pointer;
  }

  .controls_wrapper .shuffle {
    font-size: 1.1em;
  }

  .controls_wrapper .shuffle.active {
    color: #ffe74c;
  }

  .controls_wrapper .loop {
    font-size: 1.1em;
  }

  .controls_wrapper .loop.active {
    color: #ffe74c;
  }

  .progress {
    width: 70%;
  }

  .music_control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 5px;
  }

  .music_bar {
    display: flex;
    height: 60px;
    align-items: center;
    gap: 10px;
  }

  .music_setting {
    display: flex;
    align-items: center;
  }

  .music_setting > .dropdown > button {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 1.1em;
    width: 38px;
    cursor: pointer;
  }
}
