.queue_list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  max-height: 70vh;
  overflow: auto;
}

.queue_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.queue_item.playing {
  background-color: #232323;
}

.queue_item.playing .queue_info strong {
  color: #ffe74c;
}

.queue_info strong {
  font-size: 1.1em;
}

.queue_info p {
  color: #978e8e;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
}

.queue_item button {
  font-size: 20px;
  background-color: transparent;
  border: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 700px) {
  .queue_list {
    width: 100%;
  }
}
