.popular_album {
  font-size: 1.7em;
  font-weight: bold;
  padding: 16px 16px 0px 16px;
}

.add_content_button {
  font-size: 25px;
  position: fixed;
  bottom: 80px;
  right: 16px;
  background-color: #ffe74c;
  color: #111111;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_page {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.login_page .login_back {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 16px;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_page h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.login_page .forgot_password {
  color: #ffe74c;
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: underline;
}

.register_page {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.register_page h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.register_page a {
  color: #ffe74c;
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: underline;
}

.album_detail {
  display: grid;
  grid-gap: 10px;
  padding: 40px 20px;
}

.album_detail .album_cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.album_detail .album_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album_detail .album_info h1 {
  font-size: 2.2em;
}

.album_detail .album_info p {
  color: #978e8e;
}

.album_buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.album_buttons div {
  display: flex;
  align-items: center;
}

.album_buttons .play_all_button {
  font-size: 25px;
  background-color: #ffe74c;
  color: #111111;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album_buttons .like_album_button {
  font-size: 25px;
  background-color: transparent;
  border: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album_buttons .like_album_button > span {
  font-size: 0.8em;
}

.album_buttons .shuffle_button {
  color: #978e8e;
  font-size: 25px;
  background-color: transparent;
  border: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album_buttons .shuffle_button.active {
  color: #ffe74c;
}

.edit_album_detail_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.edit_album_detail_page .remove_song_album {
  background-color: transparent;
  border: none;
  font-size: 1.3em;
}

.edit_album_detail_page .edit_album_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit_album_detail_page .edit_album_song_list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: 20px;
}

.edit_album_detail_page .edit_album_song_list > button {
  background-color: #111111;
  color: #ffe74c;
  border: solid 1px #ffe74c;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: inherit;
  border-radius: 10px;
  padding: 10px;
  margin: 0 20px;
}

.artist_detail_page section {
  margin: 10px 0;
}

.user_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.user_detail img {
  border-radius: 50%;
  width: auto;
}

.user_detail h1 {
  font-size: 2.2em;
}

.user_detail .user_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.user_detail .user_info p {
  color: #978e8e;
}

.user_detail .follow_button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  width: 50%;
  border-radius: 10px;
}

.user_detail .follow_button.followed {
  color: #ffe74c;
  background-color: #111111;
  border: 1px #ffe74c solid;
}

.user_discography > div {
  margin: 20px 0;
}

.user_discography h2 {
  padding: 16px 16px 0px 16px;
}

.user_description {
  padding: 16px;
}

.user_description p {
  margin-top: 15px;
}

.activate_page {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-left: 0;
}

.activate_page h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.activate_page > p {
  font-size: 0.9em;
  margin-bottom: 20px;
}

.activate_page > p > a {
  color: #ffe74c;
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
  text-decoration: underline;
}

.activate_page > .activate_page__send {
  background-color: #000000;
  color: #ffe74c;
  padding: 10px;
  margin-top: 5px;
  border: #ffe74c 1px solid;
  font-size: 1em;
  width: 35%;
  font-weight: bold;
  font-family: inherit;
  border-radius: 10px;
}

.activate_page > .activate_page__logout {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 16px;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.change_email_page {
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
}

.change_email_page h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.change_email_page input {
  width: 80%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.change_email_page button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  width: 50%;
  border-radius: 10px;
  font-family: inherit;
}

.change_email_page .change_email_page__back {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 16px;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.forgot_password_page {
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.forgot_password_page .back {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 16px;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot_password_page h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.add_playlist_button {
  font-size: 25px;
  position: fixed;
  bottom: 80px;
  right: 16px;
  background-color: #ffe74c;
  color: #111111;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new_album_page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_song_page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_song_page > h1 {
  margin-top: 20px;
}

.playlist_detail {
  display: grid;
  grid-gap: 10px;
  padding: 40px 20px;
}

.playlist_detail .playlist_cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist_detail .playlist_cover .container {
  position: relative;
}

.playlist_detail .playlist_cover .container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: black;
}

.playlist_detail .playlist_cover .container:hover .overlay {
  opacity: 0.7;
}

.playlist_detail .playlist_cover .container .text {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.playlist_page .playlist_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.playlist_page .playlist_info p {
  color: #978e8e;
}

.playlist_page .playlist_info_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.playlist_page .playlist_info_title h1 {
  font-size: 1.7em;
}

.playlist_page .playlist_info_title form {
  display: flex;
  gap: 10px;
}

.playlist_page .playlist_info_title input {
  width: 80%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  font-family: inherit;
  border-radius: 10px;
}

.playlist_page .playlist_info_title button {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1.5em;
}

.playlist_page .add_collaborator {
  background-color: transparent;
  color: #ffe74c;
  border: solid 1px #ffe74c;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1em;
  font-family: inherit;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.playlist_buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.playlist_buttons div {
  display: flex;
  align-items: center;
}

.playlist_buttons .play_all_button {
  font-size: 25px;
  background-color: #ffe74c;
  color: #111111;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist_buttons .save_playlist_button {
  font-size: 25px;
  background-color: transparent;
  border: 0;
  height: 44px;
  cursor: pointer;
  gap: 5px;
  display: flex;
  align-items: center;
  font-family: inherit;
  justify-content: center;
}

.playlist_buttons .save_playlist_button > span {
  font-size: 0.8em;
}

.playlist_buttons .shuffle_button {
  color: #978e8e;
  font-size: 25px;
  background-color: transparent;
  border: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playlist_buttons .shuffle_button.active {
  color: #ffe74c;
}

.profile_page {
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.profile_page .profile_picture {
  border-radius: 50%;
  width: auto;
}

.profile_page .container {
  position: relative;
}

.profile_page .container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: black;
}

.profile_page .container:hover .overlay {
  opacity: 0.7;
}

.profile_page .container .text {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.profile_info h1 {
  text-align: center;
}

.profile_info__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.profile_info__name span {
  color: #978e8e;
}

.profile_info__description {
  margin: 20px 0;
  width: 85%;
}

.profile_info__description h2 {
  margin-bottom: 10px;
  font-size: 1.3em;
}

.profile_info__description p {
  font-size: 1em;
}

.profile_page .edit_profile_input {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 10px;
}

.profile_page .edit_profile_input input {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #111111;
  color: #ededed;
  border: solid 1px #ededed;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.profile_page .edit_profile_input textarea {
  background-color: transparent;
  border-radius: 10px;
  min-height: 100px;
  height: 100px;
  max-height: 300px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  font-family: inherit;
  padding: 10px;
}

.profile_page .edit_profile_input button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  width: 65%;
  border-radius: 10px;
}

.profile_page .edit_button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  width: 50%;
  border-radius: 10px;
}

.profile_page .edit_button.active {
  background-color: transparent;
  color: #ffe74c;
  border: #ffe74c 1px solid;
}

.profile_page form {
  display: flex;
  flex-direction: column;
}

.profile_page .contents {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.profile_page .contents a div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  width: 120px;
  background-color: #212121;
  font-size: 1.2em;
}

.profile_page .contents a div p {
  font-weight: bold;
}

.profile_page .statistics > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.collection_page h2 {
  padding: 10px;
}

.collection_page .add_playlist {
  background-color: transparent;
  color: #ffe74c;
  border: solid 1px #ffe74c;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1em;
  font-family: inherit;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.your_collection {
  padding: 10px;
}

.liked_songs {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.liked_songs_detail {
  display: grid;
  grid-gap: 10px;
  padding: 40px 20px;
}

.liked_songs_detail .liked_songs_cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.liked_songs_detail .liked_songs_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liked_songs_detail .liked_songs_info h1 {
  font-size: 2.2em;
}

.liked_songs_detail .liked_songs_info p {
  color: #978e8e;
}

.liked_songs_buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.liked_songs_buttons div {
  display: flex;
  align-items: center;
}

.liked_songs_buttons .play_all_button {
  font-size: 25px;
  background-color: #ffe74c;
  color: #111111;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.liked_songs_buttons .shuffle_button {
  color: #978e8e;
  font-size: 25px;
  background-color: transparent;
  border: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.liked_songs_buttons .shuffle_button.active {
  color: #ffe74c;
}

.liked_songs > a > strong {
  font-size: 1em;
}

.liked_songs > a > p {
  color: #978e8e;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search_page section {
  padding: 20px 0;
}

.search_page section h2 {
  padding: 0 16px;
}

.about_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_page .about_page_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.about_page .about_page_text h1 {
  font-size: 2.3em;
}

.about_page .about_page_text p {
  margin: 0 10px;
}

.about_page .about_page_research {
  border: #ffe74c 1px solid;
  border-radius: 10px;
  background-color: #b4a337;
  color: #000000;
  font-size: 0.9em;
  margin: 10px;
  padding: 10px;
}

.about_page .about_page_links {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.about_page .about_page_links .about_page_contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about_page .about_page_links .about_page_contacts div {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 5px;
}

.about_page .about_page_links .about_page_contacts div > p {
  font-weight: bold;
  margin: 0 20px;
}

.about_page .about_page_links .about_page_contacts div a {
  display: flex;
  text-align: justify;
  align-items: center;
  margin: 0 20px;
}

.about_page .about_page_links div a svg {
  font-size: 1.5em;
}

.about_page .about_page_links div a p {
  font-size: 0.8em;
}

@media screen and (min-width: 750px) {
  .login_page {
    padding-left: 0;
  }

  .register_page {
    padding-left: 0;
  }

  .forgot_password_page {
    padding-left: 0;
  }

  .album_detail {
    grid-template-columns: 1fr 1.7fr;
  }

  .album_detail .album_cover {
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: flex-end;
  }

  .album_detail .album_info {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .album_detail .album_buttons {
    margin-top: 0px;
  }

  .user_detail {
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
  }

  .user_detail .user_info {
    align-items: flex-start;
    text-align: start;
  }

  .search_page section {
    padding: 10px 20px;
  }

  .collection_page section {
    padding: 10px 20px;
  }

  .about_page_info {
    width: 60%;
  }

  .about_page .about_page_links {
    width: 60%;
  }

  .about_page .about_page_research {
    width: 60%;
  }

  .about_page .about_page_links div a p {
    font-size: 1em;
  }
}

@media screen and (min-width: 900px) {
  .profile_info__description {
    margin: 20px 0;
    width: 50%;
  }
}
