.popular_album {
  font-size: 1.7em;
  font-weight: bold;
  padding: 16px 16px 0px 16px;
}

.albums_list {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  overflow-x: scroll;
}

.album_item {
  padding: 0;
  margin-left: 16px;
}

.album_item p {
  font-weight: bold;
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  text-overflow: ellipsis;
}

.album_item a {
  color: #978e8e;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  text-overflow: ellipsis;
  display: inline-block;
}

.add_content_button {
  font-size: 25px;
  position: fixed;
  bottom: 80px;
  right: 16px;
  background-color: #ffe74c;
  color: #111111;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_page {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.login_page .login_back {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 16px;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_page h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.login_page .forgot_password {
  color: #ffe74c;
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: underline;
}

.register_page {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.register_page h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.register_page a {
  color: #ffe74c;
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: underline;
}

.album_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.album_detail p {
  color: #978e8e;
}

.album_detail_buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.album_detail_buttons div {
  display: flex;
  align-items: center;
}

.album_detail_buttons .play_all_button {
  font-size: 25px;
  background-color: #ffe74c;
  color: #111111;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album_detail_buttons .like_album_button {
  font-size: 25px;
  background-color: transparent;
  border: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album_detail_buttons .shuffle_button {
  font-size: 25px;
  background-color: transparent;
  border: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album_detail_buttons .shuffle_button.active {
  color: #ffe74c;
}

.user_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.user_detail img {
  border-radius: 50%;
  width: auto;
}

.user_detail p {
  margin: 20px 0;
}

.user_discography h2 {
  padding: 16px 16px 0px 16px;
}

.activate_page {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.activate_page h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.activate_page > p {
  font-size: 0.9em;
  margin-bottom: 20px;
}

.activate_page > p > a {
  color: #ffe74c;
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
  text-decoration: underline;
}

.activate_page > .activate_page__send {
  background-color: #000000;
  color: #ffe74c;
  padding: 10px;
  margin-top: 5px;
  border: #ffe74c 1px solid;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
}

.activate_page > .activate_page__logout {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 16px;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.change_email_page {
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.change_email_page h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.change_email_page input {
  width: 80%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #ededed;
  color: #111111;
  padding: 10px;
  border-radius: 10px;
}

.change_email_page button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  width: 50%;
  border-radius: 10px;
}

.change_email_page .change_email_page__back {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 16px;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.forgot_password_page {
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.forgot_password_page h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.forgot_password_page input {
  width: 80%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #ededed;
  color: #111111;
  padding: 10px;
  border-radius: 10px;
}

.forgot_password_page button {
  background-color: #ffe74c;
  color: #111111;
  padding: 10px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  width: 50%;
  border-radius: 10px;
}

.add_playlist_button {
  font-size: 25px;
  position: fixed;
  bottom: 80px;
  right: 16px;
  background-color: #ffe74c;
  color: #111111;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist_page .playlist_title {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

.playlist_page .playlist_title button {
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 0.8em;
}
